# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node
node_modules/
dist/
.env

# Databases
*.db
*.sqlite3

# OS/IDE
.vscode/
.idea/
.DS_Store
*.tar.gz
*.zip

# Gemini/Qodo
.qodo/
.gemini/
